body {
    background: palette(background, gradient);
    background: url('/public/assets/background.png');
    background: #FFEBEB;
    min-height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

header,
footer {
    text-align: center;
}

header,
footer,
main {
    max-width: 960px;
    padding: 0;
}

header {
    padding-top: 30px;
}

footer {
    padding-bottom: 50px;
    margin-top: 30px;
}

main {
    padding: 75px 50px;
    display: none;
}

#wrapper {
    margin: 0 0 50px 0;
}

body {
    color: $blue-dark;
    position: relative;
}

