body {
    background: palette(background, gradient);
    background: url('/public/assets/background.png');
    background: #FFEBEB;
    min-height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
}

header,
footer {
    text-align: center;
}

header,
main {
    max-width: 960px;
    padding: 0;
}

header {
    margin: 30px 24px;
}

footer {
    background: #ffffff5e;
    margin: 50px -24px 0 -24px;
    padding: 24px;
    width: 100%;
}

main {
    padding: 75px 24px;
    display: none;
}

#wrapper {
    margin: 0 0 80px 0;
}

body {
    color: $blue-dark;
    position: relative;
}

