$yellow-light: rgba(255, 250, 206, 1.00);
$yellow: rgba(251, 243, 170, 1.00);
$yellow-dark: rgba(225, 195, 85, 1.00);
$coral: rgba(232, 136, 131, 1.00);
$blue-light: rgba(159, 255, 255, 1.00);
$blue-dark: rgba(30, 44, 60, 1.00);
$shadow: rgba(59, 4, 4, 1);