// form.choose-comics {
//     display: flex;
//     @include flex (row wrap, space-around, flex-start);
//     margin-bottom: 50px;
//     #submit {
//         @include padding-margin (20px, 50px 0 0 0);
//         background: linear-gradient(-79deg, #EEA8F9 0%, #c5f4f5 100%);
//         border: none;
//         box-shadow: 0 3px 13px 0 rgba(73,69,72,0.17);
//         color: palette(text, inverted);
//         width: 300px;
//         text-transform: uppercase;
//         border-radius: 3px;
//         cursor: pointer;
//         font-weight: 600;
//         font-size: 18px;
//         &:hover {
//             box-shadow: $shadow;
//         }
//         &:active {
//             box-shadow: none;
//         }
//         &:focus {
//             outline: none;
//         }
//     }
// //     div.checkbox {
// //         flex-basis: 50%;
// //         text-align: center;
// //         @include padding-margin (0, 10px auto);
// //     }
// // }

// input.checkbox {
//     display: none;
//     +label,
//      {
//         @include padding-margin (20px 0, 0 auto);
//         text-transform: uppercase;
//         cursor: pointer;
//         display: block;
//         width: 300px;
//         background: palette(background, body);
//         $gradient: linear-gradient(45deg, pink, skyblue);
//         box-shadow: none;
//         border: none;
//         color: black;
//         border-radius: 2px;
//         position: relative;
//         box-shadow: 0 3px 13px 0 rgba(73,69,72,0.17);
//         &::after {
//             position: absolute;
//             top: -4px; bottom: -4px;
//             left: -4px; right: -4px;
//             background: linear-gradient(-79deg, #EEA8F9 0%, #c5f4f5 100%);
//             content: '';
//             z-index: -1;
//             border-radius: 3px;
//         }
//     }
//     // +label:hover {
//     //     @include colors ($blue-light, black);
//     // }
//     &:checked+label {
//         @include colors ($blue-light, black);
//         border: 1px solid black;
//     }
// }

#submit {
    @include padding-margin (20px, 50px 0 0 0);
    background: linear-gradient(-79deg, #EEA8F9 0%, #c5f4f5 100%);
    border: none;
    box-shadow: 0 3px 13px 0 rgba(73,69,72,0.17);
    color: palette(text, inverted);
    width: 300px;
    text-transform: uppercase;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    &:hover {
        box-shadow: $shadow;
    }
    &:active {
        box-shadow: none;
    }
    &:focus {
        outline: none;
    }
}

#dropdown {
    @include padding-margin (20px 0, 0);
    text-transform: uppercase;
    cursor: pointer;
    display: block;
    width: 300px;
    background: palette(background, body);
    $gradient: linear-gradient(45deg, pink, skyblue);
    box-shadow: none;
    border: none;
    color: black;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 3px 13px 0 rgba(73,69,72,0.17);
    &:after {
        position: absolute;
        top: -4px; bottom: -4px;
        left: -4px; right: -4px;
        background: linear-gradient(-79deg, #EEA8F9 0%, #c5f4f5 100%);
        content: '';
        z-index: -1;
        border-radius: 3px;
    }
    &:focus {
        outline: none;
    }
}

.dropdown {
    &--options {
        width: 300px;
    }
}


input.checkbox {
    display: none;
    + .label,
     {
        @include padding-margin (20px 0, 0 auto);
        text-transform: uppercase;
        cursor: pointer;
        display: block;
        width: 300px;
        background: palette(background, body);
        $gradient: linear-gradient(45deg, pink, skyblue);
        box-shadow: none;
        border: none;
        color: black;
        border-radius: 2px;
        position: relative;
        box-shadow: 0 3px 13px 0 rgba(73,69,72,0.17);
        &:after {
            position: absolute;
            top: -4px; bottom: -4px;
            left: -4px; right: -4px;
            background: linear-gradient(-79deg, #EEA8F9 0%, #c5f4f5 100%);
            content: '';
            z-index: -1;
            border-radius: 3px;
        }
        &:before {
            content: '';
            margin-right: 10px;
            display: inline-block;
            vertical-align: text-top;
            width: 20px;
            height: 20px;
            background: yellow;
            border:  none;
        }
        &:hover &:before {
        background: #f35429;
        border:  none;
        }
    }
    
    &:focus + .label:before {
        box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
    }
    &:checked + .label:before {
        background: #f35429;
    }
    &:checked+label {
        @include colors ($blue-light, black);
        border: 1px solid black;
    }
    &:checked + .label:after {
        content: '';
        position: absolute;
        left: 5px;
        top: 9px;
        background: black;
        width: 2px;
        height: 2px;
        box-shadow: 
          2px 0 0 white,
          4px 0 0 white,
          4px -2px 0 white,
          4px -4px 0 white,
          4px -6px 0 white,
          4px -8px 0 white;
        transform: rotate(45deg);
        }

}


.show {
  display: block;
}
.change-border-bottom {
  border-bottom: 1px solid lightgray;
}

