// form.choose-comics {
//     display: flex;
//     @include flex (row wrap, space-around, flex-start);
//     margin-bottom: 50px;
//     #submit {
//         @include padding-margin (20px, 50px 0 0 0);
//         background: linear-gradient(-79deg, #EEA8F9 0%, #c5f4f5 100%);
//         border: none;
//         box-shadow: 0 3px 13px 0 rgba(73,69,72,0.17);
//         color: palette(text, inverted);
//         width: 300px;
//         text-transform: uppercase;
//         border-radius: 3px;
//         cursor: pointer;
//         font-weight: 600;
//         font-size: 18px;
//         &:hover {
//             box-shadow: $shadow;
//         }
//         &:active {
//             box-shadow: none;
//         }
//         &:focus {
//             outline: none;
//         }
//     }
// //     div.checkbox {
// //         flex-basis: 50%;
// //         text-align: center;
// //         @include padding-margin (0, 10px auto);
// //     }
// // }

// input.checkbox {
//     display: none;
//     +label,
//      {
//         @include padding-margin (20px 0, 0 auto);
//         text-transform: uppercase;
//         cursor: pointer;
//         display: block;
//         width: 300px;
//         background: palette(background, body);
//         $gradient: linear-gradient(45deg, pink, skyblue);
//         box-shadow: none;
//         border: none;
//         color: black;
//         border-radius: 2px;
//         position: relative;
//         box-shadow: 0 3px 13px 0 rgba(73,69,72,0.17);
//         &::after {
//             position: absolute;
//             top: -4px; bottom: -4px;
//             left: -4px; right: -4px;
//             background: linear-gradient(-79deg, #EEA8F9 0%, #c5f4f5 100%);
//             content: '';
//             z-index: -1;
//             border-radius: 3px;
//         }
//     }
//     // +label:hover {
//     //     @include colors ($blue-light, black);
//     // }
//     &:checked+label {
//         @include colors ($blue-light, black);
//         border: 1px solid black;
//     }
// }

.choose-comics {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline;
}

.dropdown-container {
    // display: inline-block;
}
#submit {
    @include padding-margin (20px, 50px 0 0 0);
    background: linear-gradient(-79deg, #EEA8F9 0%, #c5f4f5 100%);
    border: none;
    box-shadow: 0 3px 13px 0 rgba(73,69,72,0.17);
    color: palette(text, inverted);
    width: 300px;
    text-transform: uppercase;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    &:hover {
        box-shadow: $shadow;
    }
    &:active {
        box-shadow: none;
    }
    &:focus {
        outline: none;
    }
}

#dropdown {
    @include padding-margin (20px 0, 0);
    // text-transform: uppercase;
    cursor: pointer;
    display: block;
    width: 500px;
    background: palette(background, body);
    $gradient: linear-gradient(45deg, pink, skyblue);
    box-shadow: none;
    border: none;
    color: black;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 3px 13px 0 rgba(73,69,72,0.17);
    &:after {
        position: absolute;
        top: -2px; bottom: -2px;
        left: -2px; right: -2px;
        background: linear-gradient(-79deg, #EEA8F9 0%, #c5f4f5 100%);
        content: '';
        z-index: -1;
        border-radius: 3px;
    }
    &:focus {
        outline: none;
    }
}

.dropdown {
    &--options {
        width: 500px;
        text-align: left;
    }
}


input.checkbox {
    display: none;
    + .label,
     {
        @include padding-margin (20px 0, 0 auto);
        text-transform: uppercase;
        cursor: pointer;
        display: block;
        width: 500px;
        background: palette(background, body);
        $gradient: linear-gradient(45deg, pink, skyblue);
        box-shadow: none;
        border: none;
        color: black;
        text-transform: none;
        border-radius: 2px;
        position: relative;
        box-shadow: 0 3px 13px 0 rgba(73,69,72,0.17);
        &:after {
            position: absolute;
            top: -2px; bottom: -2px;
            left: -2px; right: -2px;
            background: linear-gradient(-79deg, #EEA8F9 0%, #c5f4f5 100%);
            content: '';
            z-index: -1;
            border-radius: 3px;
        }
        &:before {
            content: '';
            margin-right: 10px;
            margin-left:30px;
            display: inline-block;
            vertical-align: text-top;
            width: 20px;
            height: 20px;
            // background: yellow;
            border:  1px solid pink;
        }
        &:hover  {
            &:before {
                background: pink;
            }
        
        }
    }
    
    &:focus + .label:before {
        box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
    }
    
    // when checked...
    &:checked + .label:before {
        background: pink;
    }
    &:checked + label {
        // background: $yellow-light;
        // border: 1px solid black;
    }
    &:checked + .label:after {
    content: '';
    margin-right: 10px;
    position: absolute;
    left: 36px;
    z-index: 20;
    top: 30px;
    /* background: #1a1a1a; */
    width: 2px;
    height: 2px;
    border-radius: 0;
        box-shadow: 
          2px 0 0 white,
          4px 0 0 white,
          4px -2px 0 white,
          4px -4px 0 white,
          4px -6px 0 white,
          4px -8px 0 white;
        transform: rotate(45deg);
        }

}



.show {
  display: block;
}
.change-border-bottom {
  border-bottom: 1px solid lightgray;
}

