body {
    background: palette(background, gradient);
    background: url('/public/assets/background.png');
    background: #FFEBEB;
}

header,
footer {
    text-align: center;
}
header,
footer,
main {
    max-width: 960px;
    padding: 0;
    margin: 0 auto;
}

header {
    margin: 34px auto 0 auto;
}

footer {
    padding: 20px 0 50px;
}

main {
    padding: 50px;
    display: none;
}

#wrapper {
    margin: 0 0 50px 0;
}

body {
    color: $blue-dark;
    position: relative;
}

