$box-shadow: -7px 7px 25px -12px $shadow;
@mixin fontSize($sizeValue) {
    font-size: $sizeValue * 1px;
    font-size: ($sizeValue/10) * 1rem;
}

@mixin font-properties ($family, $weight, $align) {
    font-family: $family;
    font-weight: $weight;
    text-align: $align;
}

@mixin padding-margin ($padding, $margin) {
    padding: $padding;
    margin: $margin;
}

@mixin colors ($background, $color) {
    background: $background;
    color: $color;
}

@mixin flex ($flexflow, $justify-content, $align-content) {
    flex-flow: $flexflow;
    justify-content: $justify-content;
    align-content: $align-content
}