.swiper-slide {
    display: flex;
    .results-title,
    h3,
    h4 {
        color: $blue-dark;
    }
}

#pagination {
    bottom: 0;
}

.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    border-radius: 2px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(0,0,0,0.2);
}
.swiper-pagination-bullet-active {
    color:#fff;
    background: palette(text, link);
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px 5px 5px;
}

.flex-item-2 {
    text-align: left;
}

.bookcover {
    margin: 0 20px 0 0;
    border: 1px solid $blue-dark;
    width: 300px;
    box-shadow: 10px 10px 39px -4px rgba(204, 204, 204, 0.6);
}

.tpl {
    width: 120px;
}

.star {
    width: 20px;
}