@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700|Muli:300,400,600|Open+Sans:300,400,600|Inconsolata:400,700');

// Font stacks
$font-family--header    : "Amatic SC", "Muli", sans-serif;
$font-family--body      : "Inconsolata", sans-serif;

// Font Weights
$font-weight--light     : 300;
$font-weight--normal    : 400;
$font-weight--bold      : 700;

$base__line-height: 1.7rem;

// TYPOGRAPHY

body {
    font-size: 14px;
    font-size: $base__line-height;
    font-family: $font-family--body;
    font-weight: 400;
    color: palette(text, primary);
}

h1,
h2,
h3,
h4,
p,
ul,
li {
    padding: 0;
    color: palette(text, heading);
}

h1 {
    margin: 0 0 40px 0;
    font-size: 10.4rem;
    font-size: 9.6rem;
    text-transform: uppercase;
    font-family: $font-family--header;
}

h2,
.subtitle { 
    margin: 10px 70px 30px 70px;
    padding: 0 10%;
}

h2 {
    font-size: 3.6rem;
    font-family: $font-family--header;
}

.subtitle {
    font-size: 1.4rem;
    font-family: $font-family--body;
    font-weight: $font-weight--light;
    line-height: $base__line-height;
    color: palette(text, inverted);
}

p {
    margin: 10px 0;
    line-height: 150%;
}

.small-dictionary,
.small {
    margin: 0;
    font-size: 1.2rem;
    color: palette(text, inverted); 
}

.small-dictionary {
    color: #b337cc;
}

.results-description,
.results-rating
 {
    font-size: 1.4rem;
    color: palette(text, inverted);
}

.results-rating {
    font-weight: $font-weight--bold;
}

a {
    color: palette(text, link);
    text-decoration: none;
    transition: all 0.2s;
    &:hover {
        color: palette(text, link-hover);
    }
}

.results-title {
    color: palette(text, heading);
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 4rem;
    font-family: 'Amatic SC';
}


