@import 'setup';
@import 'utils';
@import 'typography';
@import 'forms';
@import 'layouts';
@import 'slider';
@import 'media-queries';

html {
    font-size: 62.5%;
}

img {
	width: 100%;
}

header,
footer,
main {
    max-width: 960px;
    padding: 0;
    margin: 0 auto;
}

header {
    padding-top: 30px;
}

footer {
    padding-bottom: 50px;
}

main {
    padding: 75px 50px;
}
#wrapper {
    margin: 0 0 50px 0;
}

body {
    color: $blue-dark;
    position: relative;
}

