form.choose-comics {
		display: flex;
		@include flex (row wrap, space-around, flex-start);
		margin-bottom: 50px;

		input[type=submit] {
			@include padding-margin (20px, 50px 0 0 0);
			@include fontSize(11);
			@include colors ($color-secondary, $color-primary);
			border: 1px solid $color-secondary;
			width: 40%;
			text-transform: uppercase;
			border-radius: 3px;
			cursor: pointer;
			font-weight: 700;
			&:hover {
				box-shadow: $box-shadow;
			}
			&:active {
				box-shadow: none;
			}
			&:focus {
				outline: none;
			}
		}

		div.checkbox {
			flex-basis: 50%;
			text-align: center;
			@include padding-margin (0, 20px auto);
		}
	}


	input.checkbox {
		display:none;
		
		+ label {
			@include fontSize(10);
			@include padding-margin (10px 0, 0 auto);
			border: 1px solid $color-secondary;
			font-weight: 300;
			border-radius: 3px;
			text-transform: uppercase;
			cursor: pointer;
			display: block;
			width: 70%;

		}
		+label:hover {
			@include colors ($color-accent-light, $color-primary);
		}
		&:checked + label {
			@include colors ($color-accent-light, $color-primary);
			border: 1px solid $color-accent-light;
		}
	}

form.suggest-comic {
	@include padding-margin (0, 50px 0 0px 0);

	p {
		@include padding-margin (0, 50px 0 30px 0);
		flex-basis: 100%;
	}
	input[type=text] {
		width: calc(50% - 20px);
		margin: 10px;
		background: transparent;
		border: none;
		border-bottom: 1px solid white;
		&:focus {
			outline: none;
		}
		&::-webkit-input-placeholder { 
			color: RGBA(255, 255, 255, .5);
		}
	}

	input[type=submit] {
		@include padding-margin (5px, 50px 0 0 0);
		@include fontSize(11);
		@include colors ($color-secondary, $color-primary);
		font-weight: 500;
		&:hover {
			box-shadow: $box-shadow;
		}
		&:active {
			box-shadow: none;
		}
		&:focus {
			outline: none;
		}
	}

}

form.suggest-comic div.tag {
	input.checkbox {
		+ label {
			border-radius: 0;
			@include fontSize(8);
			@include padding-margin (5px 15px, 5px auto);
			width: 100%;
		}
		
	}
	&:checked + label {
			@include colors ($color-accent-light, $color-primary);
			border: 1px solid $color-accent-light;
		}

}