@media (max-width: 900px) {
	div.wrapper,
	footer {
		padding: 0 25px;
		// color: blue;
	}
	header {
		margin-bottom: 15px;
	}
	form {
		input[type=submit] {
		@include padding-margin (20px, 20px 0 0 0);
		}
	}
	input.checkbox + label {
		width: 90%;
	}
	main {
		@include padding-margin (0px, 0 0 80px 0);
	}
}
@media (max-width: 615px) {
	form {
		input[type=submit] {
		width: 70%;
		}
	}
}

@media (max-width: 550px) {
	h1 {
		@include fontSize(58);
		@include padding-margin (0px, 25px 0 30px 0);
	}
	input.checkbox + label {
		width: 95%;
	}
	form.suggest-comic {
		@include flex(column wrap, space-between, flex-start);
		input[type=text] {
			width: 100%;
		}
		input[type=submit] {
		width: 100%;
		margin-top: 30px; 
		}
	}
}

@media (max-width: 490px) {
	div.wrapper {
		margin: 0 auto 60px auto;
	}
	h1 {
		@include fontSize(48);
	}
	h2 {
		@include fontSize(12)
	}
	form {
		@include flex (column wrap, space-around, flex-start);
		margin-bottom: 30px;
		div.checkbox {
			flex-basis: 100%;
			margin: 10px 0;
		}
		input[type=submit] {
		width: 100%;
		}
	}
	input.checkbox + label {
		width: 100%;
	}
	
	main {
		@include padding-margin (0px, 0 0 60px 0);
	}
	div.results {
		@include flex(column wrap, space-between, flex-start);
		div.image {
			width: 70%;
			margin: 0 auto 30px auto;
		}
		div.book-info {
			h2,
			h3,
			p.publisher {
				text-align: center;
			}
			h2 {
				@include fontSize(20)
			}
		}
	}
}