

div#slides ul.slidesjs-pagination {
    
    list-style: none;
     display: none;
     flex-flow: row wrap;
     justify-content: center;
     color: white;
     margin-top: 50px;
     padding: 0;

      li.slidesjs-pagination-item {
      text-align: center;
      display: inline;
      width: 30px;
      padding: 5px;
      margin: 10px;
      border: 1px solid white;
      color: white;
      border-radius: 50%;
      &:hover {
        background: RGBA(255, 247, 169, 1);
        color: tomato;
      }
      a {
        // padding: 5px;
        /* background: yellow; */
        color: white;
        font-weight: $font-weight--light;
        &:hover,
        &:active {
          color: tomato;
          background: yellow;
        }

        
      }
      
    }
}

div.slidesjs-slide {
    display: flex;
}


a.slidesjs-next {
  position: absolute;
  right: 5%;
  bottom: -50%;
    font-size: 74px;
}
    


a.slidesjs-previous {
  position: absolute;
  left: 5%;
  bottom: -50%;
  font-size: 74px;
}
    
